# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [48]:
import json
with open(r'data\contributors_sample.json') as json_file:
    data = json.load(json_file)

print(json.dumps(data[:3], indent=4))

[
    {
        "username": "uhebert",
        "name": "Lindsey Nguyen",
        "sex": "F",
        "address": "01261 Cameron Spring\nTaylorfurt, AK 97791",
        "mail": "jsalazar@gmail.com",
        "jobs": [
            "Energy engineer",
            "Engineer, site",
            "Environmental health practitioner",
            "Biomedical scientist",
            "Jewellery designer"
        ],
        "id": 35193
    },
    {
        "username": "vickitaylor",
        "name": "Cheryl Lewis",
        "sex": "F",
        "address": "66992 Welch Brooks\nMarshallshire, ID 56004",
        "mail": "bhudson@gmail.com",
        "jobs": [
            "Music therapist",
            "Volunteer coordinator",
            "Designer, interior/spatial"
        ],
        "id": 91970
    },
    {
        "username": "sheilaadams",
        "name": "Julia Allen",
        "sex": "F",
        "address": "Unit 1632 Box 2971\nDPO AE 23297",
        "mail": "darren44@yahoo.com",
        "jobs": [
            "Management consultant",
            "Engineer, structural",
            "Lecturer, higher education",
            "Theatre manager",
            "Designer, textile"
        ],
        "id": 1848091
    }
]
4200

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [34]:
import re

domains = set()
for mail in list(person['mail'] for person in data):
    domains.add(re.search("@[\w.]+", mail).group())
print(len(domains))

3

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [51]:
def username_search(username):
    result = [user for user in data if user["username"] == username]
    if result == []:
        raise ValueError("Пользователь с заданным username отсутствует")
    else:
        print(json.dumps(result, indent=4))
    
    
username_search('sheilaadams')
username_search('sheilaadam')

[
    {
        "username": "sheilaadams",
        "name": "Julia Allen",
        "sex": "F",
        "address": "Unit 1632 Box 2971\nDPO AE 23297",
        "mail": "darren44@yahoo.com",
        "jobs": [
            "Management consultant",
            "Engineer, structural",
            "Lecturer, higher education",
            "Theatre manager",
            "Designer, textile"
        ],
        "id": 1848091
    }
]

ValueError: Пользователь с заданным username отсутствует

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [50]:
f_count = len([user for user in data if user["sex"] == 'F'])
m_count = len([user for user in data if user["sex"] == 'M'])
print(f_count)
print(m_count)

2136
2064

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [59]:
import pandas as pd

contributors = pd.DataFrame(data).loc[:, ['id','username', 'sex']]
contributors

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [64]:
recipes = pd.read_csv('data/recipes_sample.csv', delimiter=',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [73]:
merged_user = pd.merge(recipes, contributors, left_on = 'contributor_id', right_on = 'id', how='outer').drop(columns = 'id_y')
merged_user

,name,id_x,minutes,contributor_id,submitted,n_steps,description,n_ingredients,username,sex
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,uhebert,F
1,allegedly original cobb salad dressing,39189,5,35193,2002-09-03,3.0,"avocado, tomato, thick bacon slices crumbled, ...",8.0,uhebert,F
2,basic cake gluten free,52100,55,35193,2003-01-24,NaN,a basic cake recipe adapted from carol fenster...,14.0,uhebert,F
3,basil garlic butter,32311,15,35193,2002-06-26,6.0,wonderful to have on hand!,NaN,uhebert,F
4,beer marinated shrimp,36315,125,35193,2002-08-05,NaN,this is best made ahead and is great during th...,7.0,uhebert,F
...,...,...,...,...,...,...,...,...,...,...
29995,zucchini strips,279769,30,522304,2008-01-18,8.0,"spicy, salty, crispy zucchini strips!",4.0,NaN,NaN
29996,zucchini with bacon corn peppers,326105,45,896136,2008-09-19,8.0,this is a very colorful addition to any meal. ...,7.0,NaN,NaN
29997,zucchini with bell pepper and tomato,363362,13,344321,2009-03-29,19.0,the weather has been turning warmer and i have...,8.0,mistyray,F
29998,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0,NaN,NaN
29999,zucchini potato pancakes,180833,45,186118,2006-08-07,NaN,"this recipe was posted in our local newspaper,...",9.0,NaN,NaN

In [72]:
recipes['contributor_id']. isin (contributors['id']).value_counts()

False    15059
True     14941
Name: contributor_id, dtype: int64

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [117]:
jobs = []
for user in data:
    jobs.extend(user['jobs'])
job_dict = dict.fromkeys(set(jobs), [])

for user in data:
    for job in user['jobs']:
        job_dict[job] = job_dict.get(job, []) + [user['username']]       
        
#демонстрация словаря (по одной из профессий)
job_dict['Energy engineer']

['uhebert',
 'annmoore',
 'garysilva',
 'martinezashley',
 'sextonsheila',
 'pjames',
 'smithjonathan',
 'wardjames',
 'cwheeler',
 'ucarlson',
 'robert71',
 'johnsontheresa',
 'amanda41',
 'stacey47',
 'timothynelson',
 'timothynelson',
 'rogersmichael',
 'melissa94',
 'wmcdaniel',
 'charles74',
 'smithjennifer',
 'clintonjones']

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [127]:
import pickle
with open('job_people.pickle', 'wb') as file:
    pickle.dump(job_dict, file)

with open('job_people.json', mode='w', encoding='utf-8') as file:
    json.dump(job_dict, file, indent=4)

In [128]:
import os.path

print(f"Размер файла job_people.pickle в байтах: {os.path.getsize('job_people.pickle')}")
print(f"Размер файла job_people.json в байтах: {os.path.getsize('job_people.json')}")

Размер файла job_people.pickle в байтах: 132347
Размер файла job_people.json в байтах: 407711

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [133]:
with open('job_people.pickle', 'rb') as file:
    job_people = pickle.load(file)
    
job_dict['Energy engineer']

['uhebert',
 'annmoore',
 'garysilva',
 'martinezashley',
 'sextonsheila',
 'pjames',
 'smithjonathan',
 'wardjames',
 'cwheeler',
 'ucarlson',
 'robert71',
 'johnsontheresa',
 'amanda41',
 'stacey47',
 'timothynelson',
 'timothynelson',
 'rogersmichael',
 'melissa94',
 'wmcdaniel',
 'charles74',
 'smithjennifer',
 'clintonjones']

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [148]:
import requests
from bs4 import BeautifulSoup

# Выполняем парсинг XML файла:
with open('data/steps_sample.xml') as f:
    ab = BeautifulSoup(f, features="html")

print(ab)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`